<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery API</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h1>Food Delivery API</h1>
    <ul>
        <li>
            Usage (Swagger)
            <a target="_blank" rel="noopener" href="/docs">
                Click here
            </a>
        </li>
        <li>
            Documentation
            <a target="_blank" rel="noopener"
                href="https://github.com/Shubham-Lal/Food-Delivery-API/blob/javascript/README.md">
                Click here
            </a>
        </li>
        <li>
            Source code
            <a target="_blank" rel="noopener" href="https://github.com/Shubham-Lal/Food-Delivery-API">
                Click here
            </a>
        </li>
    </ul>
    <footer>
        <div class="status">
            <div class="ping-dot"></div>
            <div class="animate-ping"></div>
        </div>
    </footer>
</body>

</html>