<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery API</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h1>Food Delivery API</h1>
    <ul>
        <li>
            Checkout Docs
            <a href="https://github.com/Shubham-Lal/Food-Delivery-API/blob/main/README.md">here</a>
        </li>
        <li>
            Checkout API Route
            <a href="/doc">here</a>
        </li>
    </ul>
</body>

</html>